/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=ArKrub+Black&family=Bebas+Neue&family=Krub:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fjalla+One&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=New+Amsterdam&family=Sawarabi+Mincho&family=Krub&display=swap');

:root {
  --primary-color: rgb(64, 177, 87);
  --primary-dark-color: rgb(0, 116, 23);
  --secondary-color: rgb(232, 249, 238);
  --tertiary-color: rgb(208, 246, 226);
  --lighter-gray: #dfdfdf;
  --light-gray: #cccccc;
  --gray: #b5b5b5;
  --label-margin-top: 1.1em;
  --alert-red: #ed7575;
  /* --toastify-z-index: 9999999; */
}
* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* 'Cabin', sans-serif; */
  /* 'Viga', sans-serif; */
  /* "Bebas Neue", sans-serif; */
  /* "Krub", sans-serif; */
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}
#root {
  isolation: isolate;
}

/* label,
[class*='label'],legend */
h1,
h2,
h3,
h4 {
  font-family: 'Krub', sans-serif;
  /* letter-spacing: 2px; */
}
h3 + h3 {
  font-family: 'Krub', sans-serif;
  font-weight: 500;
}
ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
}
button {
  border: none;
  padding: 5px 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  margin: 1em 0 0.5em;
  display: block;
}
button:hover {
  cursor: pointer;
  filter: brightness(105%);
}
/* button + button {
  margin-left: 1.5em;
} */
.delete-button {
  background: var(--alert-red);
}

input {
  display: block;
}
input,
select,
textarea,
button {
  font: inherit;
}
input[hidden] {
  display: none;
}
label {
  display: inline-block;
  margin-top: var(--label-margin-top);
  font-weight: bold;
}
fieldset {
  border: none;
  padding: 0;
  margin-top: var(--label-margin-top);
  font-weight: bold;
}
fieldset label {
  font-weight: normal;
}
.non-input-label {
  margin-top: var(--label-margin-top);
  font-weight: bold;
}
/* input[type='text'],
input[type='number'] */
input,
select {
  border: 1px solid rgb(231, 240, 236);
  padding: 4px 8px;
  height: 2.25em;
  font-size: 1em;
}
input[type='text'] {
  min-width: 70%;
}
@media (max-width: 620px) {
  input[type='text'] {
    min-width: 100%;
  }
}
select {
  display: block;
  /* min-width: 250px; */
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--primary-dark-color);
}

#page-container {
  min-height: 100vh;
  margin: 20px;
}

.page-title {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.secondary-page-title {
  text-align: center;
  text-transform: uppercase;
}

.decrease-bottom-margin {
  margin-bottom: 0.2em;
}

.svg-inline--fa {
  height: 0.75em;
  vertical-align: -1px;
}

.form-submit {
  margin: 1em 0 1.5em;
}

[class*='editPageLinks'] {
  margin-top: 0.75em;
  font-weight: bold;
}

[type='radio'] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 5px 8px 5px;
  /* TODO: is this OK to do for radios if i'm using color to show which one is selected? */
  /* display: none; */
}

#checkbox-container {
  display: flex;
  align-items: center;
  margin-top: var(--label-margin-top);
}
#checkbox-container label {
  margin: 1px 0 0 0.5em;
}
#checkbox-container input {
  width: 1em;
}

/* label[class*="radio" i] {

} */

.isDisabled {
  color: var(--lighter-gray);
}
.isDisabled + input {
  color: var(--gray);
  /* chrome bg color for disabled input */
  /* color: rgba(239, 239, 239, 0.3); */
}

/* input:disabled::placeholder {
  color: #909;
} */

/* button:disabled {
    cursor: not-allowed;
    background: rgb(245, 245, 245);
    color: grey;
} */

input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.input-error {
  color: rgb(252, 104, 104);
}
.success-msg {
  color: var(--primary-color);
}

/* TODO: move some of the players and point specific css to the corresponding folder as css modules */
[class*='editable-list'] li,
[class*='editable-list'] details {
  /* background: var(--tertiary-color); */
  display: grid;
  align-items: center;
  padding: 1px 5px;
  margin: 3px 0;
  border: 1px solid var(--tertiary-color);
}
[class*='editable-list'] summary {
  /* display: grid; */
  display: flex;
  align-items: center;
  cursor: pointer;
}
summary::before {
  content: '▶'; /* Closed caret */
  margin-right: 0.5em;
  font-size: 0.65em;
}
details[open] summary::before {
  content: '▼';
}
.details-body {
  font-style: italic;
  padding-left: 1em;
}
.editable-list--points li {
  grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
}
.editable-list--player-scoring li {
  grid-template-columns: 2fr 1fr 1fr;
}
.editable-list--players li {
  grid-template-columns: 3fr 2fr;
}
.list-edit-buttons {
  text-align: right;
  margin-left: auto;
  display: flex;
  display: inline-flex;
  justify-content: flex-end;
}
.list-edit-buttons button {
  padding: 2px 6px;
  font-size: 0.9em;
  margin: 0.15em;
}
.list-point-value {
  text-align: center;
}

.list-point-name {
  line-height: 1;
  font-weight: 600;
  margin-right: 1em;
}

/* TODO: make common breakpoint variables */
@media (max-width: 550px) {
  .editable-list--points li,
  .editable-list--player-scoring li {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
  }
  .list-point-value {
    text-align: left;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .list-point-round-point {
    grid-row: 3 / 4;
  }
  .list-point-scope-and-frequency {
    grid-row: 4 / 4;
  }
  .list-edit-buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    /* text-align: center; */
  }
  .editable-list--players .list-edit-buttons {
    grid-row: 5;
    grid-column: 1 / 3;
  }
}

@media (max-width: 350px) {
  /* .editable-list--points li span,
  .editable-list--players li span {
    text-align: center;
  } */
  .list-point-name {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  .list-point-value {
    /* text-align: left; */
    grid-row: 2;
    grid-column: 1 / 3;
  }
  /* .editable-list--points .list-edit-buttons {
    grid-row: 4;
    grid-column: 1 / 3;
  } */
}

.toggle-button {
  padding: 2px 5px;
  font-size: 0.9em;
  background: var(--tertiary-color);
  color: black;
}

.indented-text-small {
  margin-left: 0.5em;
}

.selectable-LI {
  border: 1px solid var(--primary-color);
}
.selectable-LI:hover {
  cursor: pointer;
}
.is-selected {
  background: var(--tertiary-color);
}

.text-link {
  color: #0096ff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.text-link:hover {
  filter: brightness(85%);
}

.breadcrumb {
  font-size: 1.25rem;
}
.breadcrumb a:hover {
  color: #0096ff;
}

.tableContainer {
  overflow-x: auto;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background: var(--secondary-color);
}

td,
th {
  padding: 0.2em;
}

.leagueHomeLink {
  display: block;
  margin-left: auto;
  width: fit-content;
}

.form-action-buttons-container {
  margin-top: 30px;
  display: flex;
}
.form-action-buttons-container button {
  margin-right: 15px;
}

[name='hole-score'],
[id='hole-select'],
[name='point-earned-quantity'] {
  width: 5em;
}

.centered-text {
  text-align: center;
}

.tableDataAction:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.scorecardTable {
  table-layout: fixed;
  min-width: 400px;
}
.scorecardTable td {
  height: 30px;
}

.summaryListContainer {
  margin-left: 0.75em;
}

/* util classes */
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ital {
  font-style: italic !important;
}
.hidden {
  display: none !important;
}
.ta-center {
  text-align: center;
}
