#modal-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

#modal {
  margin: 1em;
  padding: 1em;
  background: var(--tertiary-color);
  border-radius: 3px;
}

@media (max-width: 450px) {
  #modal {
    width: 90%;
    padding: 0.5em;
  }
  input {
    width: 95% !important;
  }
}

#modal-footer {
  display: flex;
  /* justify-content: center; */
  justify-content: flex-end;
}

button + button {
  margin-left: 15px;
}
/* #modal-container > button {
  color: var(--primary-color);
  font-weight: 700;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
} */
