.radioLabel {
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  border: 1px solid var(--tertiary-color);
  margin: 5px 5px 0 0;
  font-weight: normal;
  font-size: 0.9em;
  max-width: 350px;
}

.radioLabel:hover {
  cursor: pointer;
}

.radioBox {
  margin: 0 5px 0 0;
  width: 0.75em;
}
