#basicRoundInfo {
  margin: 0.5em 0;
  padding: 0.5em 0;
  /* background: var(--secondary-color); */
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

#basicRoundInfo p {
  display: inline-block;
}

#basicRoundInfo span {
  color: var(--primary-color);
}

#basicRoundInfoTitle {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
}
